table{
    box-shadow: 5px 5px 10px #aaa;
}

.table-bordered{
    border: 0px transparent;    
    border-radius: 5px !important;
}    

#myTable.table-bordered tbody tr td{
    border-color: transparent;
}

.table-bordered tbody tr th{
    border : 0px transparent;
}

table th{
    background-color: #015b7e;
    color: white;
    font-size: 16px;
    text-align: center;
    border-color: transparent;
}    

body{
    padding-bottom: 50px; 
}

.navbar{
    background: #015b7e;
    font-size: 15px;
    line-height: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
}

.navbar-brand{
    padding-top: 0px;
    padding-bottom : 0px;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav li a{
    color: #ddd;
    font-size: 15px;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-nav li a:hover{
    color: #fff;
}

input.form-control{
    padding: 10px;
}

.page-header{
    background: #eee;
    padding-bottom: 15px;
    padding-top: 40px;
}

.panel{
    box-shadow: 5px 5px 10px #aaa;
    border: 0px transparent;
    border: 0px transparent;
}


.panel-info > .panel-heading{
    color : #fff;
    background-color: #eee;
    background-image: linear-gradient(to bottom, #025c7f 0px, #015b7e 50%, #025c7f 100%);
    background-repeat: repeat-x;
    border-color : transparent;
}

.btn, a.btn{
    border-radius: 5px;
    border: 0px solid transparent;
    background-image: none;
    padding: 12px;
}

.btn-danger, a.btn-danger{
    background-color: #d9534f;
}

.btn-danger:hover, a.btn-danger:hover{
    background-color: #c12e2a !important;
}

.btn-info{
    background-color: #5bc0de;
}

.btn-success{
    background-color: #5cb85c;
}

.btn-inverse{
    color: white;
    background-color: #555;
}

.btn-inverse:hover{
    color: white;
    background-color: #444;
}

.alert{
    border: none;
    box-shadow: 5px 5px 10px #aaa;
}