table{
    box-shadow: 5px 5px 10px #aaa;
}

table th{
    background-color: #015b7e;
    color: white;
    font-size: 16px;
    text-align: center;
}

body{
    padding-bottom: 50px; 
}

.navbar{
    background: #015b7e;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav li a{
    color: #ddd;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-nav li a:hover{
    color: #fff;
    font-size: bold;
}

input.form-control{
    padding: 10px;
}